node_modules/
dist/
test/client/unit/coverage
test/client/e2e/reports
tmp/*
*.env
app.yaml
wdio
hs_err_pid*

.DS_Store
.idea
.editorconfig

# Logs:
*.log
npm-debug.log*
logs-dev/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
cloud_sql_proxy