<!DOCTYPE html>
<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
        <!-- <meta property="fb:app_id" content="302184056577324" />  -->
        <meta property="og:type" content="article" /> 
        <meta property="og:url" content="{{url}}" /> 
        <meta property="og:title" content="{{title}}" /> 
        <meta property="og:description" content="{{description}}" /> 
        <meta property="og:image" content="{{image}}" /> 
        <meta property="og:site_name" content="Gmnst.com" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="{{title}}" />
        <meta name="twitter:description" content="{{description}}" />
        <meta name="twitter:image" content="{{image}}" />
        <meta name="twitter:site" content="@gmnstLife" />
        <meta name="twitter:creator" content="@gmnstLife" />
    </head>

    <body itemscope itemtype="http://schema.org/Product">
        <h1 itemprop="name">{{title}}</h1>
        <img itemprop="image" src="{{image}}" />
        <p itemprop="description">{{description}}</p>
    </body>
</html>
